body {
    margin: 0;
    padding: 0;
    background: rgb(253, 253, 253);
}

#content {
    height: 450px;
    width: 1000px;
    margin: auto;
}

#nav {
    text-align: right;
}

#logo {
    vertical-align: middle;
    float: left;
    font: 15px Lato, sans-serif;
    letter-spacing: 4px;
    top: 30px;
    position: relative;
    color: rgba(41, 167, 47, 0.80);
    font-weight: 400;
    padding: 3px 3px 0 4px;
}

#nav > .button {
    text-decoration: none;
    float: right;
    font: 15px Lato, sans-serif;
    letter-spacing: 4px;
    top: 30px;
    padding: 5px 0 0 4px;
    position: relative;
    margin-left: 20px;
    font-weight: 400;
}

a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#banner {
    margin-top: 45px;
    background: rgba(0, 0, 0, 0.03);
}


#banner > div {
    height: 200px;
    display: inline-block;
}

#photos {
    text-align: center;
    height: 200px;
    resize: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 1200px;
}

#photos > img {
    padding: 5px;
    margin-top: 40px;
    height: 150px;
    display: inline-block;
}

#photos2 {
    text-align: center;
    height: 120px;
    resize: none;
    margin: auto;
    display: inline-block;
    width: 500px;
}

#photos2 > img {
    height: 105px;
    display: inline-block;
}

#picture {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    background: url('photos/handsup.jpg') -100px center;
    background-size: 1500px;
    height: 500px;
    z-index: -1;
}

#blah {
    position: absolute;
    top: 500px;
    height: 100px;
    box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#banner > #headline {
    background: rgb(253, 253, 253);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font: 21px Lato, sans-serif;
    height: 225px;
    width: 445px;
    /*
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 2px rgba(0, 0, 0, 0.7);
    */
}

#banner > #headline > h1, #banner > #headline > h2 {
    padding: 5px;
    position: relative;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

#banner > #headline > h1 {
    font: 48px Lato, sans-serif;
    font-weight: 300;
}

#banner > #headline > h2 {
    margin-top: -30px;
    font: 24px Lato, sans-serif;
    font-weight: 300;
}

#call {
    margin-top: 50px;
    text-align: center;
}

#banner > #headline > a, #call > a {
    padding: 5px;
    margin-top: -10px;
    text-align: center;
    width: 300px;
    background: rgba(223, 66, 0, 0.80);
    border: solid 2px rgba(0, 0, 0, 0.7);
    color: rgb(0, 0, 0);
    font: 24px Lato, sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;


    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

#banner > #headline > a:hover, #call > a:hover{
    background: rgba(242, 72, 0, 0.73);
}

#stuff {
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font: 16px Lato, sans-serif;
    height: 190px;
    margin: 30px auto 0;
    background: rgba(255, 255, 255, 0.1);
    border: solid 2px rgba(0, 0, 0, 0.7);
    padding: 30px 40px;
    font-weight: 300;
}

#summary {
    color: rgba(0, 0, 0, 0.9);
    text-align: left;
    font: 17px Lato, sans-serif;
    height: 190px;
    width: 1000px;
    margin: 20px auto auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 0px;
    font-weight: 300;
}

.button:hover {
    border-bottom: solid 2px rgba(41, 167, 47, 0.60);
}

#what {
    float: left;
    width: 500px;
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    text-align: justify;
    padding-right: 30px;
    line-height: 28px;
}

#why {
    float: right;
    width: 350px;
    text-align: justify;
    line-height: 25px;
}

.event {
    margin-left: -90px;
    width: 500px;
    background: rgba(0, 0, 0, 0.3);
}

.event > a > img {
    float: left;
    height: 105px;
    display: inline-block;
}

.event > div {
    margin-left: 25px;
    font: 13px Lato, sans-serif;
    float: left;
    text-align: left;
    width: 250px;
    font-weight: 300;
}

.event > div > h4 {
    display: inline;
}

.event > div > h5 {
    display: inline;
}

#block {
    margin-top: 200px;
    height: 200px;
}

/* --- Story Section -- */

#info {
    font: 14px Lato, sans-serif;
    line-height: 40px;
    width: 800px;
    text-align: justify;
}